.viewParentDiv {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  padding-top: 1;
}
.viewParentDiv .imageShowDiv {
  
  max-width: 70vw;
  min-width: 70vw;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid black 1px;
  border-radius: 6px;
  margin: 30px;
}
.viewParentDiv .imageShowDiv img {
  
  height: 85%;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}
