
.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
  margin-bottom: 20px;
  border-bottom: solid rgb(223, 220, 220) 1px;

}
.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner {
  background-image: url('/Images/banner copy.png');
  background-size: contain;
  height: 150px;
}

